.App {
  text-align: center;
  background-color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.task {
  border: 1px solid black;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: aqua;
}
.Link{
  padding: 15px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
}
.Link:hover{
  color: rgba(0, 0, 0, 0.5);
}

